<app-info-message messageKey="loginPage" [messageText]="loginInfoMessage"></app-info-message>
<div class="login-container">
  <h2>Kullanıcı Girişi</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="isim">Kullanıcı Adı:</label>
      <input type="text" id="isim" name="isim" [(ngModel)]="isim" required>
    </div>
    <div class="form-group">
      <label for="sifre">Şifre:</label>
      <input type="password" id="sifre" name="sifre" [(ngModel)]="sifre" required>
    </div>
    <button type="submit">Giriş Yap</button>
    @if (errorMessage()) {
      <p class="error-message">{{ errorMessage() }}</p>
    }
  </form>
</div>