ekosistemv2 dosyayı başlangıçta oku. adında v2 olan dosyaları ana dizindeyse oku. Varolanları asla değiştirme.
node_modules ve aa ve arsiv klasörlerini okuyup zaman kaybetme.. aa kısmen anlamak için bakabilirsin. mmesajları servera yönlendirecek ayrı bir mobil yazılım hakkında bilgi içeriyor. ya--
gereksiz karakter kullanma yazı yazma.
bir değişiklik kararı aldığında BENİM ONAAY VERDİĞİMDEN SONRA GERÇEKLEŞMEK ÜZEREYSE SAKIN açıkca sormadan o yöne ilerleme.
seninle birşey konuşurken bilgilendrime yap. Sonraki adım için harekete geçme, önce sor. karar verilince sana bilgi verilecek o zamana kadar karara yönlendirme yapma.
araştırma, derinleştirme, bilgilendirme modunda kal, hangi modda olursak olalım.
herhangi bir aşamada tam olarak !!!! KOD YAZ demeden kod yazma araştır ve çözümleri alternatifleri analizleri getir.
asla sohbette yapılacak dediğin adımları sırayla gerçekleştirmeden dönme.. Yapıldığını ve ya eksiği geriye dönüp kontrol etmeden ilerleme..
yapılan ve yapılmayanları her kodlama sonunda cevap olarak sohbette yaz.
hiçbir zaman serve etme gerekirse bana söyle burası SINIR. 
sunucu başlatma durdurma gibi işler asla yapma.. 
1-asla sohbette yapılacak dediğin adımları sırayla gerçekleştirmeden dönme.. Yapıldığını ve ya eksiği geriye dönüp kontrol etmeden ilerleme..
2-o sohbette geçipte yapılan ve yapılmayanları her kodlama finalinde sonunda cevap olarak sohbette yaz. 
3-komut satırı çalıştırdığında da sonucunu görmeden doğru bitmiş gibi asla cevap yazma ve devam etme.. bana sorabilirsin bu araları.. 
4-dikkat!! node_modules, eski frontendler ve arsiv klasörlerini verimli çalışmak adına okumamanı tavsiye ederim. arşiv tutarsız yardımcı yazıları içerir.
5-eğer döngüye girersen devam etme seçeneklerle bana dön.Değişiklik yapamadığında tutarsızlık olduğunda hemen değişiklik yaptığın o dosyayı çekip güncel şekilde oku ve öyle devam et.
işlem yapmadan önce o dosyanın güncel halini çekmeni de tavsiye edrim ayrıca. Çok sık hata yapıyorsun burada.
6-sohbet baslangıçlarında istinasız her zaman klasörlerin ve serverin içindeki kod dosyalarını tam bir okuma yap. Yani js, frontend ts,html,css,route,service her zaman hepsini tam oku.
